@import "../home-page/home-page.component";
.home-page-container .content-container .content-wrapper{
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 0;
    height: 75px;
    h2{
      padding-left: 16px;
      margin-bottom: 0;
    }
    img {
      max-width: 75px;
      max-height: 75px;
      border-radius: 50%;
    }
    p{
      padding-left: 16px;
      font-size: 12px;
    }
  }
  .data-wrapper{
    height: calc(100% - 85px);
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    .content{
      margin: 12px;
      .content-text{
        font-weight: 500;
      }
    }
  }
}
